.wrapper{
    height:100lvh;
    display: flex;
    justify-content: stretch;
    background-color:var(--pattern-color);
    overflow: hidden;
}



.leftPanel{
    width:16rem;
    background-color:color-mix(in srgb, var(--cp-blue-2), black 75%);
    color:white;
    flex-grow: 0;
    flex-shrink: 0;
}


.titleWrapper{
    width:100%;
    height:6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
    padding:2rem;
    background-color:color-mix(in srgb, var(--cp-blue-2), black 75%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px solid color-mix(in srgb, var(--cp-blue-2), transparent 75%);

}
.titleWrapper > svg{
    height: 1.5rem;
    fill:color-mix(in srgb, var(--cp-blue-2), transparent 75%);
}
.titleWrapper > h1{
    font-size: 1rem;
    color:color-mix(in srgb, var(--cp-blue-2), transparent 75%);
    letter-spacing: 0.1ch;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.leftPanel > menu{
    width:100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top:1rem;
}
.leftPanel > menu > a{
    color:unset;
}
.menuItem{
    display: flex;
    gap:1rem;
    padding: 1rem;
    padding-left: 2rem;
    cursor: pointer;
}
.menuItem > svg{
    height:1.5rem;
    fill:white;
    transition-property: fill;
    transition-duration: 0.25s;
}
.menuItem > span{
    transition-property: color;
    transition-duration: 0.25s;
}
.__products:hover > svg{
    fill:var(--cp-yellow-2)
}
.__products:hover > span{
    color:var(--cp-yellow-2)
}
.__collections:hover > svg{
    fill:var(--cp-pink-2)
}
.__collections:hover > span{
    color:var(--cp-pink-2)
}
.__categories:hover > svg{
    fill:var(--cp-green-2)
}
.__categories:hover > span{
    color:var(--cp-green-2)
}
.__commandes:hover > svg{
    fill:var(--cp-violet-2)
}
.__commandes:hover > span{
    color:var(--cp-violet-2)
}

.mainPanel{
    width:100%;
    height:100%;
}
.mainPanel > div:last-of-type{
    width:100%;
    height:calc(100vh - 6rem);
    overflow-y:scroll;
}