.mainPanelHeader{
    height:6rem;
    background-color:color-mix(in srgb, var(--cp-blue-2), black 75%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
    padding-inline: 2rem;
    border-bottom: 1px solid color-mix(in srgb, var(--cp-blue-2), transparent 75%);
    flex-grow:0;
}
.mainPanelHeader > h2{
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:var(--cp-blue-2);
    letter-spacing: 0.3ch;
}
.mainPanelHeader > div{
    display: flex;
    gap:1rem;
}