.necklaceBuilder {
    min-height: 100svh;
    background: url('/venus.webp');
    background-size: cover;
    position:relative;
    z-index:1;

    display: grid;
    place-items: center;
}

.dialogWrapper {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    position:relative;
    z-index:1;
}

.dialog {
    width: clamp(960px,70%,1280px);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    overflow:hidden;

    border-radius: 1rem;
    background-color:#ffffff;

}
.dialog > div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-inline: 8rem; */
    /* outline:1px solid orangered */
}
.dialogHeader,
.dialogFooter{
    height:8rem;
}
.dialogHeader, .dialogFooter, .dialogBody {
        padding:2rem;
}
.dialogHeader{
    background-position: 0 calc(8rem - 1px);
}
.dialogFooter{
    background:linear-gradient(
        to right,
        transparent 10%,
        color-mix(in hsl,var(--color-1)40%,white),
        transparent 90%);
    background-repeat: no-repeat;
    background-position: 0 calc(1px - 8rem);
}
.dialogBody {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height:300px;
    background-color: color-mix(
        in xyz,
        var(--color-1) 10%,
        white);
}
.dialogBody > h2{
    text-align: center;
}
.dialogFooter:has( button ) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dialogFooter > p{
    color:var(--color-1)
}
@media screen and (width <= 960px) {
    .dialog {
        width: 100%;
        height:100%;
        border-radius: 0;
        background-color:#ffffff;
    }
    .dialogHeader, .dialogFooter, .dialogBody {
        padding:1rem;
        /* height:12rem; */
    }

    .dialog:has(.welcomeText){
        background: none;
    }
    .dialog:has(.welcomeText)>.dialogHeader{
        background: white;
    }
    .dialog:has(.welcomeText)>.dialogFooter{
        background: white;
    }
    .dialogBody:has(.welcomeText) {
        background-color:rgba(255 255 255 / 0.5);
        backdrop-filter: blur(10px);
        
    }
}
@media screen and (width <= 460px) {
    .dialog {
        width: 100%;
        height:100%;
        border-radius: 0;
        background-color:#ffffff;
    }

    .dialog:has(.welcomeText){
        background: none;
    }
    .dialog:has(.welcomeText)>.dialogHeader{
        background: white;
    }
    .dialog:has(.welcomeText)>.dialogFooter{
        background: white;
    }
    .dialogBody:has(.welcomeText) {
        background-color:rgba(255 255 255 / 0.5);
        backdrop-filter: blur(10px);
        
    }
}
