.outerWrapper{
    height:100vh;
    padding:8rem;
}
.innerWrapper{
    width:100%;
    height:100%;
    border-radius: 2rem;
    /* background-color: var(--pattern-color); */
    background-size:cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "caption calltoaction";
    place-items: center end;
    padding:5%;
    gap:5%;
}
.caption{
    grid-area: caption;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    text-align: end;
    gap:3rem;
}
.caption > h2{
    font-size: 5rem;
    color:var(--cp-pink-2)

}
.caption > p {
    text-align: right;
}



.calltoaction{
    backdrop-filter: blur(15px);
    grid-area: calltoaction;
    width:100%;
    height:100%;
    border-radius: 2.5rem;
    border:1rem solid white;
    display: grid;
    grid-template-areas: "a";
    place-items:center;
    padding:0rem;
    font-family: var(--ff-inria);
    overflow:hidden;
    transition-property: box-shadow;
    transition-duration:0.5s;
    transition-timing-function: ease;
    box-shadow:4rem 3rem 0px -1rem var(--pattern-color);
}
.calltoaction:hover{
    box-shadow:4rem 3rem 0px -1rem var(--cp-pink-3);
}
.calltoaction > img {
    grid-area: a;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index:0;
    transition-timing-function: ease;
    transition-duration: 2s;
    transition-property: transform;
}
.calltoaction:hover > img {
    transform:scale(1.1)
}
.calltoaction > a {
    z-index:1;
    grid-area:a;
    display: grid;
    place-items:center;
    mix-blend-mode: lighten;
    font-weight: 800;
    font-size:1.5rem;
    text-decoration: none;
    background-color:rgba(255 255 255 / 1);
    width:50%;
    height:auto;
    aspect-ratio: 1;
    color:rgba(0 0 0 / 1);
    outline:1px solid white;
    border-radius: 1.5rem;
    transition-timing-function: ease;
    transition-property:transform background-color;
    transition-duration:1s;
    backdrop-filter: blur(15px);
}
.calltoaction > a:hover{
    text-decoration: underline;
}