.wrapper {
    min-height: calc(100vh - 100px);
    display: grid;
    grid-template-areas: "a";
    /* outline:1px solid orangered; */
}

.wrapper > div {
    grid-area: a;
}

.background_venus {
    z-index: -1;
}

.background_pattern {
    z-index: -1;
    display: grid;
    place-items: center;
    /* outline:2px solid blue; */
}

.background_pattern > svg {
    overflow: visible;
}


.foreground {
    z-index: 1;
    display: grid;
    padding:2rem;
}

.loginBox {
    width: 640px;
    margin: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    border-radius:1rem;
    border-top:0.5rem solid var(--cp-blue-2);
    background-color: white;
    box-shadow: 0px 10px 25px -10px rgba(0 0 0 / 0.15);
}

.loginBox > h1 {
    margin-bottom:2rem;
}
.loginBox > form {
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.loginBox > form > div {
    display: flex;
    flex-direction: column;
}
.inputLabel{
    margin-bottom:0.5rem;
    font-family: var(--ff-inria);
}
.textInput {
    height: 3rem;
    background-color:var(--pattern-color);
    border:1px solid #bbbbbb;
    border-radius:0.5rem;
    color:black;
    font-size:1.25rem;
    padding-inline:1.25rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.textInput:focus {
    outline:unset;
    border-bottom:2px solid var(--cp-blue-2);
}




.loginBox > form > div:last-of-type {
    margin-top: 2rem;
    height:3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
.loginBox > form > div:last-of-type > *{
    outline:1px solid orangered;
}
.loginButton {
    height: 3rem;
    width: 30%;
    border-radius: 1.5rem;
    border:unset;
    background-color:var(--cp-blue-2);
    justify-self: center;
    align-self: end;
    cursor:pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:600;
}
.loginButton:hover {
    background-color:color-mix(in oklab,var(--cp-blue-2),white 20%);
}