.button{
    height:4rem;
    min-width:12rem;
    padding-inline:0.25rem;
    cursor:pointer;


    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;


    background-color:var(--color-1);
    border-radius: 0.5rem;
    border:none;
    overflow: hidden;

    font-size: 1rem;
    color:white;
    user-select: unset;
    -webkit-user-select: unset;
}

@media screen and (width <= 960px){
    .button{
        cursor:unset;
    }
}

.beginButton{
    height:6rem;
    width:24rem;
    max-width:100%;
    background-color: white;
    color:var(--color-2);
    border:2px solid var(--color-1);
    font-weight:bold;
    font-size: 1.5rem;
}
.beginButton:hover{
    transform:scale(1.05)
}


.__previous{
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.__previous:hover > *{
    transform:translateX(0.5rem)

}




.__next{
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.__next:hover > * {
    transform:translateX(-0.5rem);
}
.__submit{
    padding-inline: 0.5rem;
    background-color:hsl(183, 79%, 41%);
}
.__submit:hover{
    padding-inline: 0.5rem;
    background-color:color-mix(in srgb, hsl(183, 79%, 41%) 90%, white);
}


.button:focus                           {
    outline:2px solid var(--color1);
    outline-offset:2px;
}

.button > * {
    transition-property: transform;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    user-select: none;
    pointer-events: none;
}

.button > span {
    width:100%;
}
.button > svg{
    flex-grow: 0;
    flex-shrink: 0;
    width:3.5rem;
}
.button > svg:is(.shoppingCart){
    flex-grow: 0;
    flex-shrink: 0;
    width:2.5rem;
}

.button > svg > path{
    fill:white;
}

@media screen and (width<600px){
    .button{
        --color1:hsl(303, 29%, 65%);
        height:4rem;
        min-width:40vw;
        padding-inline:0.25rem;
    }
}

.__invisible{
    visibility: hidden;
}
.__grayed{
    background-color:lightgray;
    cursor:default;
}
.__grayed:hover > *{
    transition: none;
    transform:none;
    background-color:lightgray;
}
.__grayed:hover{
    background-color:lightgray;
    cursor:not-allowed;
}


.paymentButton{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow:0;
  gap:10px;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-block:1rem;
  padding-inline:2rem;
  background-color:rgb(214, 81, 148);
  color:white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:14pt;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.25rem;
  overflow: hidden;
}
.paymentButton > *{
  z-index:2;
  /* outline: 1px solid orange; */
}
.animButton{
  width:150%;
  height:200%;
  position:absolute;
  top:-50%;
  left:-160%;
  transition-duration: 0.75s;
  transition-timing-function: ease-in-out;
  transform:skewX(-30deg);
  /* outline: 1px solid red; */
}
.paymentButton:hover .animButton{
  top:-50%;
  left:-30%;
}

.animButton1{
  z-index:1;
  background-color:rgb(160, 50, 105);
  transition-delay: 0.1s;
}
.paymentButton:hover .animButton1{
  transition-delay: 0s;
}

.animButton2{
  z-index:2;
  transition-delay: 0s;
  background-color:rgb(102, 26, 64);
}
.paymentButton:hover .animButton2{
  transition-delay: 0.1s;
}