.button{
    --color1:hsl(303, 29%, 65%);
    height:4rem;
    min-width:8rem;
    padding-inline:1rem;
    cursor:pointer;


    background-color:var(--color1);
    border-radius:1rem;
    border:none;

    font-size: 1rem;
    color:white;
}
.button:hover{
    outline:2px solid var(--color1);
    outline-offset: 2px;
}