.navContainer{

    height:100px;
    position:sticky;
    top:0;
    background-color:white;
    z-index:10000
}
.nav{
    width:clamp(768px, 60%, 1280px);
    height:100%;
    margin:auto;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:2rem;
    list-style: none;
    background-color: white;
}
/* .nav > *{
    outline:1px solid red
} */
.nav > svg {
    height:75%;
}





.menu{
    height:3rem;
    display: flex;
    justify-self: flex-end;
}
.item{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-inria);
    font-weight:600;
    font-size:1.25rem;
    line-height:3rem;
    /* outline:1px solid orangered */
}
.navLink{
    color:var(--color-2);
    text-decoration: none;
    padding-inline:2rem;
}
.navLink:has(.loginLogo){
    padding:0.5rem;
}
.loginLogo{
    display: block;
    height:2rem;
}
.loginLogo > path{
    fill:var(--color-2);
}

.navLine{
    position:absolute;
    bottom:0;
    height:1px;
    width:100%;
    background:linear-gradient(
        to right,
        white 12.5%,
        var(--color-2),
        white 87.5%);

}