.wrapper{
    padding:0;
    overflow-y:scroll;
    height:calc(100vh - 6rem);
}

.table{
    width:100%; 
    table-layout: fixed;
    border-spacing: 0;
    
}
.table thead{
    background-color:color-mix(in srgb, var(--cp-blue-2), black 50%);
    color:white;
}
.table th{
    padding:0.5rem;
    font-weight: 400;
    color:color-mix(in srgb, var(--cp-blue-2), white 90%);
}
.table tr{
    height:4rem;
}
.table tr:nth-of-type(2n){
    background-color:color-mix(in oklab, white , var(--pattern-color) 60%);
}
.table td{
    border-bottom: 1px solid rgba(0 0 0 / 0.05);
    padding:0.5rem;
}
.column_id{
    text-align : right;
    width:4rem;
}
.column_name{
    text-align : left;
}
.column_tags{
    text-align: left;
}
.column_button{
    width:3rem;
}
.column_button>svg{
    fill:white
}
.cell_Id,
.cell_Name{
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cell_Id{
    text-align: right;
    color:#999999;
}



.editButton > svg,
.deleteButton > svg {
    width:75%;
    fill:#999999;
    cursor:pointer;
}
.editButton > svg:hover,
.deleteButton > svg:hover {
    fill:color-mix(in srgb, var(--cp-blue-2) , black 50%);
}