.wrapper{
    padding:2rem;
    display: grid;
    grid-template-areas: 
    " . top"
    "side main";
    grid-template-columns: 400px 1fr;
    gap:2rem;
}
/* .wrapper > *{
    outline:1px solid orangered
} */
.wrapper > h1 {
    grid-area: title;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--ff-inria);
}



/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/**************************************                                        ***************************************/
/******************************                                                        *******************************/
/**************************                                                                ***************************/
/************************                                                                    *************************/
/***********************                                                                      ************************/
/**********************                                                                        ***********************/
/**********************                                                                        ***********************/
/*********************                                                                          **********************/
/*********************                                 TOP PANEL                                **********************/
/*********************                                                                          **********************/
/**********************                                                                        ***********************/
/**********************                                                                        ***********************/
/***********************                                                                      ************************/
/************************                                                                    *************************/
/**************************                                                                ***************************/
/******************************                                                        *******************************/
/**************************************                                        ***************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/

.topPanel{
    grid-area: top;
    padding-inline:2rem;
}
.searchForm{
    width:100%;
    height:50px;
    display: flex;
    background:linear-gradient(45deg,var(--cp-blue-31), var(--cp-pink-31))
    ;
    border-radius: 50px;
    
}
.searchBar{
    height:40px;
    margin:5px;
    width:100%;
    background:none;
    border:none;
    border-radius:20px;
    color:#272727;
    padding-left:2rem;
    font-size:1.1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.searchButton{
    margin-top:5px;
    margin-right:5px;
    height:40px;
    width:12rem;
    border-radius: 20px;
    border:none;
    cursor: pointer;
    background:white;
    color:#272727;
    font-size:1.1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.searchBar:focus{
    outline:none;
    background:linear-gradient(to right,rgba(255 255 255 / 0.5) 66%,transparent)
    ;
}
.searchButton:focus{
    outline:none;
}

/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/**************************************                                        ***************************************/
/******************************                                                        *******************************/
/**************************                                                                ***************************/
/************************                                                                    *************************/
/***********************                                                                      ************************/
/**********************                                                                        ***********************/
/**********************                                                                        ***********************/
/*********************                                                                          **********************/
/*********************                                 LEFT PANEL                              **********************/
/*********************                                                                          **********************/
/**********************                                                                        ***********************/
/**********************                                                                        ***********************/
/***********************                                                                      ************************/
/************************                                                                    *************************/
/**************************                                                                ***************************/
/******************************                                                        *******************************/
/**************************************                                        ***************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/


.leftPanel{
    grid-area: side;
    /* background-color:var(--pattern-color); */
}

.leftPanel > h2{
    /* outline:1px solid orangered; */
    width:100%;
    height:75px;
    display: grid;
    place-items:center;
    background:var(--pattern-color);
}
.leftPanel > h2:nth-child(n+2){
    /* outline:1px solid orangered; */
    margin-top:2rem;
}

.leftPanel > ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.leftPanel > ul > a > li{
    position:relative;
    width:100%;
    height:50px;
    font-size:1.25rem;
    display: grid;
    place-items:center start;
    padding-inline:1rem;
    color:#272727;
    border-bottom:1px solid var(--pattern-color);
}
.leftPanel > ul > a > li::after{
    content:">";
    color:transparent;
    position:absolute;
    right:1rem;
}
.leftPanel > ul > a > li:hover{
    background:linear-gradient(to right, var(--pattern-color), color-mix(in srgb, var(--pattern-color), white 100%))
}
.leftPanel > ul > a > li:hover::after{
    color:#bbbbbb;
}


/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/**************************************                                        ***************************************/
/******************************                                                        *******************************/
/**************************                                                                ***************************/
/************************                                                                    *************************/
/***********************                                                                      ************************/
/**********************                                                                        ***********************/
/**********************                                                                        ***********************/
/*********************                                                                          **********************/
/*********************                                MAIN PANEL                                **********************/
/*********************                                                                          **********************/
/**********************                                                                        ***********************/
/**********************                                                                        ***********************/
/***********************                                                                      ************************/
/************************                                                                    *************************/
/**************************                                                                ***************************/
/******************************                                                        *******************************/
/**************************************                                        ***************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/

.mainPanel{
    grid-area: main;
}

.productGrid{
    width:100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:2rem;
}