
.button{
    height:2rem;
    text-transform: uppercase;
    padding-left:0.25rem;
    padding-right:0.5rem;
    gap:0.5rem;
    background:var(--cp-yellow-2);
    border:none;
    border-radius: 0.25rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:color-mix(in srgb, var(--cp-blue-2), black 75%);
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    cursor:pointer;
}
.button:hover{
    transform:scale(1.1);
    filter: drop-shadow(5px 5px 10px rgba(0 0 0 / 0.5));
    background:linear-gradient(-35deg, var(--cp-yellow-2), var(--cp-yellow-31));
}
.button > svg{
    fill:color-mix(in srgb, var(--cp-blue-2), black 75%);
    height:100%;
}
.button > span{
    font-weight: 600;
}