.label{
    background-color:gray;
    width:6rem;
    height:1.5rem;
    border-radius: 0.75rem;
    font-size: 0.75rem;
    display: grid;
    place-items: center;
}
.public{
    background-color:var(--cp-green-1);
    color:color-mix(in oklab, var(--cp-green-1), black 33%);
    border:1px solid color-mix(in srgb, var(--cp-green-1), black 16.5%);
}
.private{
    background-color:#d2d2d2;
    color:#999999;
    border:1px solid #c3c3c3;
}