

.title{
    width:var(--margined-width-1);
    margin-inline:auto;
    height:10rem;
    display: grid;
    place-items: center start;
    font-size:5rem;
    letter-spacing: 0ch;
    color:var(--cp-violet-2);
}

.outerWrapper{
    --local-main-color:var(--cp-blue-2);
    position:relative;
    overflow: hidden;
    background:url('old-wallpaper-1920-blue.webp');
    /* background-image: url('rainbow-bg.png'); */
    background-color:white;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    gap:2rem;
}

/* .outerWrapper * {
    outline:1px solid orange;
} */

.topSeparator{
    z-index:1;
    width:100%;
    height:auto;
    display: block;
    user-select: none;
}
.bottomSeparator{
    z-index:1;
    width:100%;
    height:auto;
    display: block;
    user-select: none;
}

.innerWrapper{
    width:var(--margined-width-1);
    margin-inline:auto;
    z-index:0;
}

.collections{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3,1fr);
    padding:0;
    gap:2rem;
}
.collection{
    width:100%;
    height:auto;
    aspect-ratio:5/6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color:white;
    border-radius: 2rem;
    overflow: hidden;
    padding:2rem;
    text-decoration:none;
}
a:has(.voirtout),
.collection{
    transition-timing-function: ease;
    transition-duration:0.5s;
    filter:drop-shadow(0px 0px 0px color-mix(in srgb, var(--local-main-color), transparent 99%));

}

a:has(.voirtout):hover,
.collection:hover{
    transition-duration: 0.1s;
    transform-origin:50% 50%;
    transform:perspective(700px) rotateX(8deg);
    filter:drop-shadow(0px 5px 0px var(--local-main-color));
}
.collection > img{
    width:75%;
    height:auto;
    height:auto;
    aspect-ratio:1;
    border-radius:50%;
    background-color:white;
    object-fit: cover;
}
.collection > span{
    width:100%;
    text-align: center;
    font-size:2.5rem;
    font-family: var(--ff-inria);
    color:var(--local-main-color);
    text-decoration:none;
}



a:has(.voirtout){
    width:75%;
    height:auto;
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    text-align:center;
    list-style: none;
    background-color:white;
    color:var(--local-main-color);
    font-family: var(--ff-inria);
    font-size:1.5rem;
    font-weight: 800;
    overflow: hidden;
}