.home{
    margin:auto;
}

.placeholderGrid{
    width:100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:2rem;
    padding:2rem;
}
.placeholder{
    background:linear-gradient(45deg, transparent, rgba(0 0 0 / 0.05), transparent);
    width:100%;
    height:auto;
    aspect-ratio:1;
    border-radius: 1rem;
}