@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --color-1:hsl(303, 29%, 65%);
  --color-2:color-mix(in hsl,var(--color-1) 75%, black);
  --color-3:color-mix(in srgb,var(--color-2) 50%, red);

  --typo-color-1:#fc7395;
  --typo-color-2:#fea6b6;
  --typo-color-3:#de6c6a;
  --typo-color-4:#a85050;
  --typo-color-5:#e18482;

  --cp-red-1:#fc665b;
  --cp-orange-1:#fe9953;
  --cp-yellow-1:#fbe086;
  --cp-violet-1:#cd92d9;
  --cp-pink-1:#f2a9c4;
  --cp-blue-1:#bee0f5;
  --cp-green-1:#cdeca8;

  --cp-red-2:color-mix(in hsl,black 25%, var(--cp-red-1));
  --cp-orange-2:color-mix(in hsl,black 25%, var(--cp-orange-1));
  --cp-yellow-2:color-mix(in hsl,black 25%, var(--cp-yellow-1));
  --cp-violet-2:color-mix(in hsl,black 25%, var(--cp-violet-1));
  --cp-pink-2:color-mix(in hsl,black 25%, var(--cp-pink-1));
  --cp-blue-2:color-mix(in hsl,black 25%, var(--cp-blue-1));
  --cp-green-2:color-mix(in hsl,black 25%, var(--cp-green-1));

  --cp-red-3:color-mix(in hsl,white 25%, var(--cp-red-1));
  --cp-orange-3:color-mix(in hsl,white 25%, var(--cp-orange-1));
  --cp-yellow-3:color-mix(in hsl,white 25%, var(--cp-yellow-1));
  --cp-violet-3:color-mix(in hsl,white 25%, var(--cp-violet-1));
  --cp-pink-3:color-mix(in hsl,white 25%, var(--cp-pink-1));
  --cp-blue-3:color-mix(in hsl,white 25%, var(--cp-blue-1));
  --cp-green-3:color-mix(in hsl,white 25%, var(--cp-green-1));

  --cp-red-31:color-mix(in hsl,white 50%, var(--cp-red-1));
  --cp-orange-31:color-mix(in hsl,white 50%, var(--cp-orange-1));
  --cp-yellow-31:color-mix(in hsl,white 50%, var(--cp-yellow-1));
  --cp-violet-31:color-mix(in hsl,white 50%, var(--cp-violet-1));
  --cp-pink-31:color-mix(in hsl,white 50%, var(--cp-pink-1));
  --cp-blue-31:color-mix(in hsl,white 50%, var(--cp-blue-1));
  --cp-green-31:color-mix(in hsl,white 50%, var(--cp-green-1));

  --pattern-color:#f1f1f1;

  --ff-inria:'Inria Serif',serif;
  --ff-windsong:'WindSong',serif;

  --margined-width-1:clamp(960px, 60vw, 1280px);
  
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: #141414;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    min-width:0px;
    /* outline:1px solid pink; */
}
h1,h2,h3,h4,h5,h6,button,input{
  font-family: var(--ff-inria);
}
img{
  display: block;
}
a{
  color:black;
  text-decoration: none;
}