
@keyframes heroAppear_anim{ from { opacity:0; } to { opacity:1; } }
.hero{
    animation-name: heroAppear_anim;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    height:calc(100lvh - 100px);
    display: grid;
    grid-template-areas: "a";
    overflow:visible;
}
/* .hero > *{
    outline:1px solid orangered;
} */
.foreground > svg {
    overflow: visible;
    z-index:-10;
}

.background{
    width:100%;
    height:calc(100lvh - 100px);
    grid-area:a;
    z-index: -1;
    overflow:hidden;
}
.foreground{
    width:100%;
    padding:2rem;
    display: grid;
    place-items:center;
    grid-area:a;
    z-index:0;
}



/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/**************************************                                        ***************************************/
/******************************                                                        *******************************/
/**************************                                                                ***************************/
/************************                                                                    *************************/
/***********************                                                                      ************************/
/**********************                                                                        ***********************/
/**********************                                                                        ***********************/
/*********************                                                                          **********************/
/*********************                          NECKLACES ANIMATIONS                            **********************/
/*********************                                                                          **********************/
/**********************                                                                        ***********************/
/**********************                                                                        ***********************/
/***********************                                                                      ************************/
/************************                                                                    *************************/
/**************************                                                                ***************************/
/******************************                                                        *******************************/
/**************************************                                        ***************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/


#chain01,
#chain02{
    fill:none;
    stroke:#999999;
}

/********/
/********/
/********   NECKLACE 01
/********/
/********/

/**** Animations */

@keyframes c01b01_anim{
    from{
        offset-distance:30%;
        motion-offset:30%;
    }
    to{
        offset-distance:33%;
        motion-offset:33%;
    }
}
@keyframes c01b02_anim{
    from{
        offset-distance: 26.5%;
        motion-offset: 26.5%;
    }
    to{
        offset-distance: 29.5%;
        motion-offset: 29.5%;
    }
}
@keyframes c01b03_anim{
    from{
        offset-distance: 23%;
        motion-offset: 23%;
    }
    to{
        offset-distance: 26%;
        motion-offset: 26%;
    }
}
@keyframes c01b04_anim{
    from{
        offset-distance: 19.5%;
        motion-offset: 19.5%;
    }
    to{
        offset-distance: 22.5%;
        motion-offset: 22.5%;
    }
}
@keyframes c01b05_anim{
    from{
        offset-distance: 16%;
        motion-offset: 16%;
    }
    to{
        offset-distance: 19%;
        motion-offset: 19%;
    }
}
@keyframes c01b06_anim{
    from{
        offset-distance: 12.5%;
        motion-offset: 12.5%;
    }
    to{
        offset-distance: 15.5%;
        motion-offset: 15.5%;
    }
}
@keyframes c01b07_anim{
    from{
        offset-distance: 9%;
        motion-offset: 9%;
    }
    to{
        offset-distance: 12%;
        motion-offset: 12%;
    }
}

/**** Beads */

#c01_bead01,
#c01_bead02,
#c01_bead03,
#c01_bead04,
#c01_bead05,
#c01_bead06,
#c01_bead07{
    --delay:0.3s;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    offset-path: path('m 600.31897,245.39754 c 12.5054,7.9389 44.53971,26.96964 64.6691,27.24611 38.19715,0.52462 68.61957,-36.14144 106.17478,-43.13456 37.90199,-7.05769 77.95895,-6.09843 115.64238,2.04596 44.63337,9.64646 80.12885,56.42104 125.74607,54.35671 24.2779,-1.09866 48.0876,-16.51849 64.0368,-34.85558 11.1584,-12.82907 20.7007,-27.59043 38.2279,-43.41838');
    motion-path: path('m 600.31897,245.39754 c 12.5054,7.9389 44.53971,26.96964 64.6691,27.24611 38.19715,0.52462 68.61957,-36.14144 106.17478,-43.13456 37.90199,-7.05769 77.95895,-6.09843 115.64238,2.04596 44.63337,9.64646 80.12885,56.42104 125.74607,54.35671 24.2779,-1.09866 48.0876,-16.51849 64.0368,-34.85558 11.1584,-12.82907 20.7007,-27.59043 38.2279,-43.41838');

}
#c01_bead01{
    fill:var(--cp-red-1);
    animation-name: c01b01_anim;
    offset-distance:30%;
    motion-offset:30%;
}
#c01_bead02{
    fill:var(--cp-orange-1);
    animation-delay: var(--delay);
    animation-name: c01b02_anim;
    offset-distance: 26.5%;
    motion-offset: 26.5%;
}
#c01_bead03{
    fill:var(--cp-yellow-1);
    animation-delay: calc(2 * var(--delay));
    animation-name: c01b03_anim;
    offset-distance: 23%;
    motion-offset: 23%;
}
#c01_bead04{
    fill:var(--cp-green-1);
    animation-delay: calc(3 * var(--delay));
    animation-name: c01b04_anim;
    offset-distance: 19.5%;
    motion-offset: 19.5%;
}
#c01_bead05{
    fill:var(--cp-blue-1);
    animation-delay: calc(4 * var(--delay));
    animation-name: c01b05_anim;
    offset-distance: 16%;
    motion-offset: 16%;
}
#c01_bead06{
    fill:var(--cp-violet-1);
    animation-delay: calc(5 * var(--delay));
    animation-name: c01b06_anim;
    offset-distance: 12.5%;
    motion-offset: 12.5%;
}
#c01_bead07{
    fill:var(--cp-pink-1);
    animation-delay: calc(6 * var(--delay));
    animation-name: c01b07_anim;
    offset-distance: 9%;
    motion-offset: 9%;
}


/********/
/********/
/********   NECKLACE 02
/********/
/********/

/**** Animations */

@keyframes c02b01_anim{
    from{
        offset-distance:70%;
    }
    to{
        offset-distance:67%;
    }
}
@keyframes c02b02_anim{
    from{
        offset-distance:73%;
    }
    to{
        offset-distance:70%;
    }
}
@keyframes c02b03_anim{
    from{
        offset-distance:76%;
    }
    to{
        offset-distance:73%;
    }
}
@keyframes c02b04_anim{
    from{
        offset-distance:79%;
    }
    to{
        offset-distance:76%;
    }
}
@keyframes c02b05_anim{
    from{
        offset-distance:82%;
    }
    to{
        offset-distance:79%;
    }
}
@keyframes c02b06_anim{
    from{
        offset-distance:85%;
    }
    to{
        offset-distance:82%;
    }
}

/**** Beads */

#c02_bead01,
#c02_bead02,
#c02_bead03,
#c02_bead04,
#c02_bead05,
#c02_bead06{
    --delay:0.3s;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    offset-path: path('m 606.92785,34.924822 c 0,0 13.77768,-6.636441 21.22555,-7.142841 39.05916,-2.655736 89.80251,-7.608707 115.36011,22.047327 18.23008,21.15347 -11.78205,60.271552 3.40489,83.705762 19.64613,30.31497 61.37313,42.51572 97.03946,48.24991 55.94065,8.99376 124.47799,11.81663 168.25174,-24.15708 28.672,-23.56299 44.1802,-68.665026 36.877,-105.051312 -3.2435,-16.159956 -11.6631,-20.280425 -33.113,-36.722114');
    motion-path: path('m 606.92785,34.924822 c 0,0 13.77768,-6.636441 21.22555,-7.142841 39.05916,-2.655736 89.80251,-7.608707 115.36011,22.047327 18.23008,21.15347 -11.78205,60.271552 3.40489,83.705762 19.64613,30.31497 61.37313,42.51572 97.03946,48.24991 55.94065,8.99376 124.47799,11.81663 168.25174,-24.15708 28.672,-23.56299 44.1802,-68.665026 36.877,-105.051312 -3.2435,-16.159956 -11.6631,-20.280425 -33.113,-36.722114');
}
#c02_bead01{
    fill:var(--cp-orange-1);
    animation-name: c02b01_anim;
    offset-distance:70%;
}
#c02_bead02{
    fill:var(--cp-yellow-1);
    animation-delay: var(--delay);
    animation-name: c02b02_anim;
    offset-distance:73%;
}
#c02_bead03{
    fill:var(--cp-green-1);
    animation-delay: calc(2 * var(--delay));
    animation-name: c02b03_anim;
    offset-distance:76%;
}
#c02_bead04{
    fill:var(--cp-blue-1);
    animation-delay: calc(3 * var(--delay));
    animation-name: c02b04_anim;
    offset-distance:79%;
}
#c02_bead05{
    fill:var(--cp-violet-1);
    animation-delay: calc(4 * var(--delay));
    animation-name: c02b05_anim;
    offset-distance:82%;
}
#c02_bead06{
    fill:var(--cp-pink-1);
    animation-delay: calc(5 * var(--delay));
    animation-name: c02b06_anim;
    offset-distance:85%;
}


/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/**************************************                                        ***************************************/
/******************************                                                        *******************************/
/**************************                                                                ***************************/
/************************                                                                    *************************/
/***********************                                                                      ************************/
/**********************                                                                        ***********************/
/**********************                                                                        ***********************/
/*********************                                                                          **********************/
/*********************                          SUBTITLE + DOWN ARROW                           **********************/
/*********************                                                                          **********************/
/**********************                                                                        ***********************/
/**********************                                                                        ***********************/
/***********************                                                                      ************************/
/************************                                                                    *************************/
/**************************                                                                ***************************/
/******************************                                                        *******************************/
/**************************************                                        ***************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/


/********/
/********/
/********   SUBTITLE
/********/
/********/

.subtitle {
    color:var(--typo-color-4);
    text-transform: uppercase;
}



/********/
/********/
/********   DOWN ARROW
/********/
/********/


/**** Animation */
@keyframes downArrow_anim{
    from{
        transform:none;
    }
    80%{
        transform:none;
    }
    to{
        transform:translateY(25px) scaleY(0.75);
    }
}

/**** Arrow */
.downArrow {
    fill:none;
    stroke:var(--typo-color-4);
    stroke-width:3px;
    stroke-linejoin: round;
    stroke-linecap:round;
    animation-duration: 6s;
    animation-name: downArrow_anim;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}